{% extends "base.html" %}
{% block title %}Todo List{% endblock %}

{% block content %}
<h1>Your Tasks</h1>


<form method="POST" action="{% url 'add_todo' %}" class="task-form">
    {% csrf_token %}
    <input type="text" name="title" placeholder="New Task" required>
    <input type="date" name="deadline" required>
    <button type="submit">Add Task</button>
</form>

<ul>
    {% for task in tasks %}
        <li>
            <span {% if task.completed %}style="text-decoration: line-through; color: gray;"{% endif %}>
        {{ task.title }} - Due: {{ task.deadline }}
        {% if task.deadline %}
        ({{ task.deadline|timesince }} remaining)
        {% endif %}
    </span>

            <form method="POST" action="{% url 'toggle_complete' task.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">{% if task.completed %}✔{% else %}✖{% endif %}</button>
            </form>

            <a href="{% url 'edit_todo' task.id %}">Edit</a>

            <a href="{% url 'delete_todo' task.id %}">Delete</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
